html, body{
  font-family: 'Raleway', sans-serif;
  color: #40414D;
  overflow: visible;
  /* width: 100vh; */

}

html{
  min-height: 100%;
  /* height: 100%; */
}

body{
  height: 100%;
}

header{
  /* overflow: hidden; */

}

/* html { overflow-y:scroll; } */

h1{
  font-size: 96px;
  font-size: 6rem;
  font-weight: 700;
  line-height: 100px;
}

h2{
  font-size: 48px;
  font-size: 3rem;
  font-weight: 700;
  line-height: 40px;

}

h3{
  font-size: 36px;
  font-size: 2.25rem;
  font-weight: 700;

}

h4{
  font-size: 24px;
  font-weight: 700;
}

h5{
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: 700;

}

.dark{
  color: #40414D;
}

.black{
  color: #000;
}

.light{
  font-weight: 300;
}

.light-description{
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: 300;
}

.light-card{
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 300;
}

.light-article{
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 30px;
}

.h72{
  font-size: 72px;
  line-height: 70px;
  font-weight: 700;
}
.sub72{
  font-size: 18px;
  width: 60%;
  margin: 20px auto;
}

.idx{
  text-align: center;
  align-items: center;
  color: rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 50%;
  padding: 10px;
  font-size: 24px;
  width: 60px;
  height: 60px;
}

.idx:active{
  text-decoration: none;
  color: rgba(0, 0, 0, 0.3);
}

.idx:visited{
  text-decoration: none;
  color: rgba(0, 0, 0, 0.3);
}

.idx:focus{
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
}

.idx:hover{
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
}

.op-50{
  opacity: 50%;
}


.op-70{
  opacity: 70%;
}

.op-80{
  opacity: 80%;
}

.op-90{
  opacity: 90%;
}

.hv-25{
  height: 25vh;
}

.hv-50{
  height: 50vh;
}

.hv-75{
  height: 75vh;
}

.hv-110{
  height: 110vh;
}

.nav{
  position: absolute;
  /* top:0; */
  z-index: 1;
  padding-left: 15px;
  /* display: flex; */
  /* flex-direction: row; */
  /* justify-content: flex-end; */

  width: 100%;
}

.logo{
  color:#313131;
  text-decoration: none;
}

.logo:hover{
  text-decoration: none;
  color: rgb(49, 49, 49, 0.8);
}


.nav-links{
  color: #fff;
  display: block;
  text-decoration: none;
  font-size:18px;
  font-weight: 600;
  width: fit-content;
}

.nav-links:active{
  color: rgb(255,255,255,0.8);
  text-decoration: none;
}

.nav-links:visited{
  color: #fff;
  text-decoration: none;
}

.nav-links:hover{
  color: rgb(255,255,255,0.8);
  text-decoration: none;
}

.nav-links:focus{
  color: rgb(255,255,255,0.8);
  text-decoration: none;
}

.h-125{
  height: 115%;
}

.hero-text{
  margin-top: auto;
  margin-bottom: auto;
  /* width: 60%; */
  /* padding: 3%; */
  /* align-self: center; */
}

.head-img{
  background-image: url("../img/head-img.png");
  background-color: #999;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

#cards-container{
  /* margin-top: -120px; */
  margin-top: -9%;
  z-index: 2;
}

#deck{
  z-index: 2;
  margin-top: -20vh;
}

.card{
  margin: 35px 0;
  background-color: #fff;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.16);
  -moz-box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.16);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.16);
  border-radius: 15px;
}

.card:hover{
  -webkit-box-shadow: 0px 16px 32px 0px rgba(0,0,0,0.16);
  -moz-box-shadow: 0px 16px 32px 0px rgba(0,0,0,0.16);
  box-shadow: 0px 16px 32px 0px rgba(0,0,0,0.16);
}

.card:hover h3{
  color: #5E6C97;
}

.card-description{
  font-size: 14px;
  font-weight: 300;
}

.card-img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 15px 0 0 15px;
}

#week{
  background-color: #F7F7F7;
  z-index: 3;
  position: relative;

}

.week-pics{
  /* padding: 20px; */
}

#about{
  margin-top: -11%;
  z-index: -1;
  position: relative;
}



footer{
  z-index: 1;
  margin-top: -10vh;
  position: relative;
}

.email-input{
  width: 100%;
  background-color: rgb(196,196,196,0.2);
  border: 0px none;
  border-radius: 15px;
  font-size: 18px;
  /* line-height: 36px; */
  padding: 20px;
  margin-bottom: 20px;
}

.sign-me{
  background: #8B9CD1;
  border: 0 none;
  border-radius: 50px;
  font-weight: 600;
  font-size: 18px;
  line-height: 40px;
  padding: 5px 35px;
  align-items: center;
  text-align: center;

  color: #FFFFFF;
}


.contact{
  background-image: url("../img/yellow.png");
  /* background-position: 50% 10%; */
  background-repeat: no-repeat;
  /* background-size: cover */
  /* object-fit: cover; */
}

.contact-list{
  list-style-type: none;
  font-weight: 600;
  font-size: 24px;
  font-size: 1.5rem;
  padding-left: 0;
  line-height: 40px;
  line-height: 2.5rem;
  padding-top: 30px;

}

.player{
  margin: 5px -15px 15px;
  width: calc(100% + 30px);
}

@media (max-width: 992px) {
  html{
    width: 100vh;
    width: fit-content;
    overflow: auto;
    height: auto;
  }

  body{
    height: auto;
  }
  .white{
    color: #fff!important;
  }
  h1{
    font-size: 48px;
    font-size: 3rem;
    line-height: 50px;
  }
  h2{
    font-size: 24px;
    line-height: 30px;
  }
  h3{
    font-size: 24px;
    line-height: 30px;
  }
  h4{
    font-size: 18px;
    line-height: 36px;
  }
  h5{
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
  }

  .big-h2{
    font-size: 36px;
    line-height: 35px;
  }
  .h72{
    font-size: 36px;
    line-height: 70px;
  }
  .sub72{
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    width: 90%;
    margin: 10px auto;
  }

  .logo{
    font-size: 24px;
    line-height: 28px;
  }
  .light-description{
    font-size: 12px;
    font-weight: 300;
    line-height: 14px;
    text-align: justify;
  }
  .title-other{
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    text-align: justify;
    color: #fff;
  }
  .email-input{
    font-size: 11px;
    line-height: 13px;
  }
  .sign-me{
    font-size: 14px;
    line-height: 40px;
  }
  .contact-list{
    font-weight: 600;
    font-size: 14px;
    line-height: 40px;
    padding-top: 0;
  }


  .light-article{
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
  }

  .light{
    font-size: 24px;
    line-height: 35px;
  }


  .nav{
    position: static;
  }

  #article{
    width: 90%!important;
  }
  #menu{
    display: none;
  }

  #deck{
    width: 90%!important;
    margin-top: 25px;
  }

  footer{
    z-index: 0;
    margin-top: auto;
    position: static;
  }
  .player {
    margin: 5px -10px 5px;
    width: calc(100% + 20px);
  }
  .contact{
    background-color: #FFD77C;
  }
  .under-img{
    background-blend-mode: multiply;
    position: absolute;
    z-index: -1;
  }
}

@media (max-width: 767px) {
  .card-img{
    position: relative;
    top:0;
    height: 60%;
    border-radius: 15px 15px 0 0;
  }

  .card-description{
    position: absolute;
    bottom: 0;
    height: 40%;
    background-color: white;
    /* width: inherit; */
    margin-left: 15px;
    border-radius: 0px 0 15px 15px;
  }

  .light-card{
    display: none;
  }

}
